body
{
    display: grid;
    justify-content: center;
    min-height: 150vh;
    
    background: linear-gradient(120deg,#2980b9, #8e44ad);
}
header h1{
    font-family: fantasy;
}
.p1{
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:700px) {
    .mid-section{
        display: flex;
        flex-direction: column;
        
    }   
}